

<!--Caja de Login-->
<div class="container-fluid padding_elementos">
  <div class="row">
  <div class="col-sm-4"></div>
  <div class="col-sm-4">
    <div class="card">

  <div class="card-body row">
  <div class="col-1"></div>
  <div class="col">
  <form>
    <div class="form-group w-75">
      <label for="exampleInputEmail1">Correo Electrónico:</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">
    </div>
    <div class="form-group w-50">
      <label for="exampleFormControlSelect1">Seleccione un Rol*</label>
      <select class="form-control" id="exampleFormControlSelect1">
        <option>Coordinador</option>
        <option>Socorrista</option>
        <option>Gestor de Playas</option>
        <option>Administrador</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary btn-block w-25">Asignar Rol</button>
  </form></div>
  <div class="col-1"></div>
  </div>

</div>

</div>
<div class="col-sm-4"></div>
</div>
