
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Proyecto Playas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Iniciar Sesión</a>
      </li>
    </ul>
  </div>
</nav>
<body>
<div class="container">
<h1>Agregar un Usuario</h1>

<form>
  <div class="form-group w-50">
    <label for="exampleInputEmail1">Correo Electronico*</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="E-mail">

  </div>
  <div class="form-group w-25">
    <label for="exampleInputPassword1">Contraseña*</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Contraseña">
  </div>
<!--<small id="emailHelp" class="form-text text-muted">Los campos con * son requeridos</small>-->
<div class="form-group w-25">
<label for="exampleFormControlSelect1">Seleccione un Rol*</label>
<select class="form-control" id="exampleFormControlSelect1">
  <option>Coordinador</option>
  <option>Socorrista</option>
  <option>Gestor de Playas</option>
  <option>Administrador</option>

</select>
</div>
  <button type="submit" class="btn btn-primary w-50">Agregar Usuario</button>
</form>

</div>




</body>

<footer>
  <ul class="logos padding" align="center">
				<img src="/assets/Imagenes/Uneatlantico.png" style="margin:0px 20px">
				<img src="/assets/Imagenes/Gob_Cantabria.png" style="margin:0px 20px">
				<img src="/assets/Imagenes/Sodercan.png" style="margin:0px 20px">
				<img src="/assets/Imagenes/Citican.png" style="margin:0px 20px">
	</ul>
</footer>
