<!DOCTYPE HTML>
<html>
	<head>
		<title>Playa Segura</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link rel="apple-touch-icon" sizes="57x57" href="./assets/favicon/apple-icon-57x57.png">
		<link rel="apple-touch-icon" sizes="60x60" href="./assets/favicon/apple-icon-60x60.png">
		<link rel="apple-touch-icon" sizes="72x72" href="./assets/favicon/apple-icon-72x72.png">
		<link rel="apple-touch-icon" sizes="76x76" href="./assets/favicon/apple-icon-76x76.png">
		<link rel="apple-touch-icon" sizes="114x114" href="./assets/favicon/apple-icon-114x114.png">
		<link rel="apple-touch-icon" sizes="120x120" href="./assets/favicon/apple-icon-120x120.png">
		<link rel="apple-touch-icon" sizes="144x144" href="./assets/favicon/apple-icon-144x144.png">
		<link rel="apple-touch-icon" sizes="152x152" href="./assets/favicon/apple-icon-152x152.png">
		<link rel="apple-touch-icon" sizes="180x180" href="./assets/favicon/apple-icon-180x180.png">
		<link rel="icon" type="image/png" sizes="192x192"  href="./assets/favicon/android-icon-192x192.png">
		<link rel="icon" type="image/png" sizes="32x32" href="./assets/favicon/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="96x96" href="./assets/favicon/favicon-96x96.png">
		<link rel="icon" type="image/png" sizes="16x16" href="./assets/favicon/favicon-16x16.png">
		<link rel="manifest" href="/manifest.json">
		<meta name="msapplication-TileColor" content="#ffffff">
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
		<meta name="theme-color" content="#ffffff">
	</head>
	<body class="landing-index">
		<div id="page-wrapper">

				<header id="header" class="alt">
					<nav id="nav">
						<ul>
							<li><a class="button-index" [routerLink]="['navbar']">Iniciar Sesión</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<h2>¡Bienvenido a Playas!</h2>
					<ul class="actions">
						<li><a href="#" class="button-index .special-index">Entrar</a></li>
						<li><a href="#" class="button-index">Registrarse</a></li>
					</ul>
				</section>
				<a [routerLink]="['home']">Pene</a>

			<!-- Main -->
				<section id="main" class="container-index">


					<section class="box-index .special-index features">
						<div class=".features-index-row-index">
							<section class="col s12 m6 l6">
								<h3>Noticias</h3>
								<marquee direction="up">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								</marquee>
							</section>
							<section class="col s12 m6 l6">
								<h3>Anuncios</h3>
								<marquee direction="up">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
								</marquee>
							</section>
						</div>
					</section>

					<section class="box-index .special-index features">
						<div class=".features-index-row-index">
							<section>
								<span class="icon major fa-bolt accent2"></span>
								<h3>Rapidez</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
							<section>
								<span class="icon major fa-area-chart accent3"></span>
								<h3>Datos</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
						</div>
						<div class=".features-index-row-index">
							<section>
								<span class="icon major fa-cloud accent4"></span>
								<h3>Clima</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
							<section>
								<span class="icon major fa-lock accent5"></span>
								<h3>Seguridad</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
							</section>
						</div>
					</section>

					<div class="row-index-index">
						<div class="6u 12u(narrow-indexer)">

							<section class="box-index .special-index">
								<span class="image featured"><img src="images/pic02.jpg" alt="" /></span>
								<h3>Playas Santander</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions">
									<li><a href="#" class="button-index alt">Ver otras</a></li>
								</ul>
							</section>

						</div>
						<div class="6u 12u(narrow-indexer)">

							<section class="box-index .special-index">
								<span class="image featured"><img src="images/pic03.jpg" alt="" /></span>
								<h3>Equipos de seguridad</h3>
								<p>Integer volutpat ante et accumsan commophasellus sed aliquam feugiat lorem aliquet ut enim rutrum phasellus iaculis accumsan dolore magna aliquam veroeros.</p>
								<ul class="actions">
									<li><a href="#" class="button-index alt">Comprar</a></li>
								</ul>
							</section>

						</div>
					</div>

				</section>

			<!-- CTA
				<section id="cta">

					<h2>Sign up for beta access</h2>
					<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

					<form>
						<div class="row-index-index uniform 50%">
							<div class="8u 12u(mobilep)">
								<input type="email" name="email" id="email" placeholder="Email Address" />
							</div>
							<div class="4u 12u(mobilep)">
								<input type="submit" value="Sign Up" class="fit" />
							</div>
						</div>
					</form>

				</section>

			Linea horizontal donde se podria poner una form
			-->

			<!-- Footer -->
				<footer id="footer">
					<div>
							<a href="https://www.cantabria.es/" target="_blank"><img src="assets/images/gobcantabria.png"></a>
							<a href="http://citican.org/" target="_blank"><img src="assets/images/citican.png"></a>
							<a href="http://www.sodercan.es/" target="_blank"><img src="assets/images/sodercan.png"></a>
							<a href="https://www.uneatlantico.es/" target="_blank"><img src="assets/images/Uneatlantico.png"></a>
				  </div>
				</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
