
<html>
	<head>
		<title>Playas</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->

		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="index.html">Proyecto Playas</a> MEAN</h1>
					<nav id="nav">
						<ul>
							<li><a class="button" routerLink="/Home" >Cerrar Sesión</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<h2>¡Bienvenido Administrador!</h2>
					<p>Version 0.01</p>
					<!--<ul class="actions">
						<li><a href="#" class="button special">Sign Up</a></li>
						<li><a href="#" class="button">Learn More</a></li>
					</ul>-->
				</section>

			<!-- Main -->
				<section id="main" class="container">


					<section class="box special features">

						<div class="row">
							<div class="12u 12u(mobilep)">
                <div id="accordion" role="tablist">
                  <div class="card">
                    <div class="card-header" role="tab" id="headingOne">
                      <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Dar de Alta a un Usuario
                        </a>
                      </h5>
                    </div>

                    <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                      <div class="card-body">
                        <br>
                        <form class="form-inline">
                          <div class="form-group mx-sm-3">
                            <input class="form-control" type="text" placeholder="Nombre del Coordinador">
                          </div>
                          <div class="form-group mx-sm-3">
                            <input class="form-control" type="text" placeholder="Usuario">
                          </div>
                            <div class="form-group mx-sm-3">
                              <label for="inputPassword2" class="sr-only">Password</label>
                              <input type="password" class="form-control" id="inputPassword2" placeholder="Contraseña">
                            </div>
                            <div class="form-group mx-sm-3">
                              <select class="form-control" id="exampleFormControlSelect1">

                                <option>Socorrista</option>
                                <option>Gestor de Playas</option>

                              </select>

                            </div>
                          </form>
                          <div class="form-group">
        										<button type="submit" class="btn btn-primary">Dar de Alta</button>
        									</div>
                      </div>
                    </div>
                  </div>
                  <div class="card">
                    <div class="card-header" role="tab" id="headingTwo">
                      <h5 class="mb-0">
                        <a class="collapsed" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Dar de Baja a un Usuario
                        </a>
                      </h5>
                    </div>
                    <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                      <div class="card-body">
                        <br>
                        <form class="form-inline">
                          <div class="form-group mx-sm-4">
                            <input class="form-control" type="text" placeholder="Usuario">
                          </div>
                            <div class="form-group mx-sm-4">
                              <label for="inputPassword2" class="sr-only">Password</label>
                              <input type="password" class="form-control" id="inputPassword2" placeholder="Contraseña">
                            </div>
                            <div class="form-group mx-sm-4">
                              <button type="submit" class="btn btn-primary">Dar de Baja</button>
                            </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
								<br>
								<div class="row">
									<div class="form-group">
										<button type="submit" class="btn btn-info" routerLink="/menu">Volver al DashBoard</button>
									</div>
								</div>


              </div>
						</div>
					</section>

				</section>

			<!-- CTA -->
				<!--<section id="cta">

					<h2>Sign up for beta access</h2>
					<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

					<form>
						<div class="row uniform 50%">
							<div class="8u 12u(mobilep)">
								<input type="email" name="email" id="email" placeholder="Email Address" />
							</div>
							<div class="4u 12u(mobilep)">
								<input type="submit" value="Sign Up" class="fit" />
							</div>
						</div>
					</form>

				</section>-->

			<!-- Footer -->
			<footer id="footer">
				<div>
						<a href="https://www.cantabria.es/" target="_blank"><img src="/assets/images/gobcantabria.png"></a>
						<a href="http://citican.org/" target="_blank"><img src="/assets/images/citican.png"></a>
						<a href="http://www.sodercan.es/" target="_blank"><img src="/assets/images/sodercan.png"></a>
						<a href="https://www.uneatlantico.es/" target="_blank"><img src="/assets/images/Uneatlantico.png"></a>

				</div>
			</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
