<html>
	<head>
		<title>Playas</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->

		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
	</head>
	<body class="landing">
		<div id="page-wrapper">

			<!-- Header -->
				<header id="header" class="alt">
					<h1><a href="index.html">Proyecto Playas</a> MEAN</h1>
					<nav id="nav">
						<ul>
							<li><a class="button" routerLink="/Home" >Cerrar Sesión</a></li>
						</ul>
					</nav>
				</header>

			<!-- Banner -->
				<section id="banner">
					<h2>Administrador Genereal</h2>
					<p>Version 0.01</p>
					<!--<ul class="actions">
						<li><a href="#" class="button special">Sign Up</a></li>
						<li><a href="#" class="button">Learn More</a></li>
					</ul>-->
				</section>

			<!-- Main -->
				<section id="main" class="container">


					<section class="box special features">
						<div class="features-row">
							<section>
								<a routerLink="/administrador-f">
								<input type="image" src="/assets/images/iconos/admin.png">
								<h3>Administrador General</h3>
								</a>
							</section>
							<section>
								<a routerLink="/coordinador">
								<img src="/assets/images/iconos/coordinador.png">
								<h3>Coordinador</h3>
							</a>
							</section>
						</div>
						<div class="features-row">
							<section>
								<a routerLink="/encargado">
								<img src="/assets/images/iconos/encargado_De_Playas.png">
								<h3>Encargado de Playas</h3>
							</a>
							</section>
							<section>
								<a routerLink="/socorrista">
								<img src="/assets/images/iconos/socorrista.png">
								<h3>Socorrista</h3>
							</a>
							</section>
						</div>
					</section>

				</section>

			<!-- CTA -->
				<!--<section id="cta">

					<h2>Sign up for beta access</h2>
					<p>Blandit varius ut praesent nascetur eu penatibus nisi risus faucibus nunc.</p>

					<form>
						<div class="row uniform 50%">
							<div class="8u 12u(mobilep)">
								<input type="email" name="email" id="email" placeholder="Email Address" />
							</div>
							<div class="4u 12u(mobilep)">
								<input type="submit" value="Sign Up" class="fit" />
							</div>
						</div>
					</form>

				</section>-->

			<!-- Footer -->
			<footer id="footer">
				<div>
						<a href="https://www.cantabria.es/" target="_blank"><img src="/assets/images/gobcantabria.png"></a>
						<a href="http://citican.org/" target="_blank"><img src="/assets/images/citican.png"></a>
						<a href="http://www.sodercan.es/" target="_blank"><img src="/assets/images/sodercan.png"></a>
						<a href="https://www.uneatlantico.es/" target="_blank"><img src="/assets/images/Uneatlantico.png"></a>

				</div>
			</footer>

		</div>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrollgress.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="assets/js/main.js"></script>

	</body>
</html>
